---
layout: default
---
<header>
  <h1>
    <img class="logo" src="logo.png" title="Logo AppSec Jobs" alt="AppSec Jobs" />
    {{ site.title }}
  </h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

<div id="buy">
  <script async src="https://js.stripe.com/v3/buy-button.js"></script>
  <stripe-buy-button buy-button-id="buy_btn_1MiyCgBk75KfFh7eo9INEOF6" publishable-key="pk_live_51LzPizBk75KfFh7e7D3Vt5wRWQcUQ97YfYAcFISlYyWKn6sn3Uioo3GSEvByBNkVEZHEwWDQc6oBTlUGjXRxoJBW00Bz7RmZCK"></stripe-buy-button>
</div>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}